.bus-icon{
	padding: 30px;
	width: 280px;
}
.employerButton{
	background-color: #fb9646;
	font-weight: 600;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	width: 100px;
	height: 45px;
	float: right;
	outline:none;
	line-height: 43px;
}
.employerButton:hover{
	color: white;
	background-color: #ffa228;
}
.menu{
	padding: 30px;
}