*{
	color: #444444;
  padding-bottom: 10px;
}
.bus-icon{
	padding: 30px;
	width: 280px;
}
.submitBar {
  display: block;
  width: 100%;
  border: none;
  background-color: #fb9646;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  color:white;
  border-radius: 7px;
}
.submitBar:hover {
  background-color: #ffa228;
}
.successEmployee{
  color: green;
}
.employerButton{
  background-color: #fb9646;
  font-weight: 600;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  width: 100px;
  height: 45px;
  float: right;
  outline:none;
  line-height: 43px;
}
.employerButton:hover{
  color: white;
  background-color: #ffa228;
}
.menu{
  padding: 30px;
}
.infowrap{
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px grey;
}
.edit{
  padding: 16px;
}
.alert {
  margin-top: 10px;
  padding: 20px;
  background-color: #fb9646;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}