<!-- Employee HTML 
    palagay ng bootstrap or forms dito
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'app/htmlHead/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/htmlHead/employee.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="{% static 'app/htmlHead/js/bootstrap.min.js'%}"></script>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'index' %}"><img class='bus-icon' src="{% static 'app/images/bus-icon.png' %}"></a>
            </div>
            <div class="col-md-4"></div>
            <div class = "col-md-4 menu">
                <a href = "{% url 'next_employer'%}"class = "employerButton">Employer</button></a>
            </div>
        </div>
    </div>

    {{ employee_match.salary_calculation }}
    <!-- Code for when your search has results / employee -->
    {% if Search %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="infowrap">
                    <div class="name">
                        {{ Search.name }}
                    </div>
                    <div class="info">
                    #{{search_id}}<br>
                    {{ Search.position }} <br>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    {{ Search.email }} <br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ Search.address }} <br>
                    <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="infowrap2">
                <div class="pay">Pay</div>
                Basic Pay:
                {{ Search.basic_pay }}<br>

                Allowance:
                {{ Search.allowance }}<br>

                Overtime Hours:
                {{ Search.overtime_hours }}<br>

                Overtime Hour Pay:
                {{ Search.overtime_hours_pay }}<br>
                </div>
                <div class="deductionwrap">
                    <div class="deductions">Deductions</div>
                    Days of Absence Deduction:
                    {{ Search.days_leave }}<br> 
                    PAG-IBIG:
                    {{ Search.pagibig }}<br>
                    GSIS:
                    {{ Search.gsis }}<br>
                    Philhealth:
                    {{ Search.philhealth }}<br>
                    Withholding Tax:
                    {{ Search.withholdingtax }}<br>
                    Other Deductions:
                    {{ Search.other_deductions }}<br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="totals">
                    <div class="gross">Gross Income:</div>
                    {{ Search.gross_income }}<br>

                    <div class="totaldeduct">Total Deductions:</div>
                    {{ Search.total_deductions }}<br><br>

                    <div class="netpay">Net Pay:</div>
                    {{ Search.net_pay }}<br>
                </div>
            </div>
        </div>

            

            
    </div>



        <!--{% for j in salary %}
            Overtime Hour Pay:
            {{ j.overtime_hours }}<br>

            Gross Income:
            {{ j.gross_income }}<br><br> 

            Ilang araw ka absent pota pa english neto Sean SALAMAT:
            {{ j.days_leave }}<br> 
            PAG-IBIG:
            {{ j.pagibig }}<br>
            GSIS:
            {{ j.gsis }}<br>
            Philhealth:
            {{ j.philhealth }}<br>
            Withholding Tax:
            {{ j.withholdingtax }}<br><br>

            Total Deductions:
            {{ j.total_deductions }}<br><br>

            Net Pay:
            {{ j.net_pay }}<br>
        {% endfor %}-->

    {% endif %}



</body>
</head>

</html>