{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'app/htmlHead/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/htmlHead/employer.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="{% static 'app/htmlHead/js/bootstrap.min.js'%}"></script>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'index' %}"><img class='bus-icon' src="{% static 'app/images/bus-icon.png' %}"></a>
            </div>
            <div class="col-md-4"></div>
            <div class = "col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-8">
            <div class="border border-light p-5">
            
                    <form action="/add_employee_form_submit/", method="post" name = "add_employee">
                        {% csrf_token %}
                                Employee Name
                                <input name="name" type="text" id="textInput" class="form-control" placeholder="Enter Employee Name" required>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <br>
                                Employee Position
                        <select class="form-select" id="position" name = "position" required>
                            <option value="" disabled selected>Select Employee Position</option>
                            <option value="Doctor/Physician">Doctor/Physician</option>
                            <option value="Accountant">Accountant</option>
                            <option value="Engineer">Engineer</option>
                            <option value="Foreman">Foreman</option>
                            <option value="Parts Repair Section">Parts Repair Section</option>
                            <option value="Preventive Maintenance Section">Preventive Maintenance Section</option>
                            <option value="Overhauling Section">Overhauling Section</option>
                            <option value="Electrical Section">Electrical Section</option>
                            <option value="Body Building Section">Body Building Section</option>
                            <option value="Machine Shop Section">Machine Shop Section</option>
                            <option value="Tire Section">Tire Section</option>
                            <option value="Quick Service Section">Quick Service Section</option>
                            <option value="Human Resource">Human Resource</option>
                            <option value="Time Keeper">Time Keeper</option>
                            <option value="Inventory">Inventory</option>
                            <option value="Driver">Driver</option>
                            <option value="Conductor">Conductor</option>
                            <option value="Ticket Seller">Ticket Seller</option>
                            <option value="Trainee">Trainee</option>
                        </select>
                            </div>
                            <div class="col-md-6">
                                <br>
                                Email Address
                        <input type="email" class="form-control mb-4" name="email" placeholder="name@example.com" required>
                                
                            </div>
                        </div>
                        Address
                        <textarea class="form-control" rows=2 name="address" required></textarea>
                            <button type="submit" class="submitBar">Add Employee</button>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible successEmployee" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        
                    </form>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="border border-light p-5">
                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</body>
</head>

</html>