<!-- Employer HTML 
    palagay ng bootstrap or forms dito
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employer</title>
<body>
    <h1>For employers</h1>
    <form action="/add_employee_form_submit/", method="post"> <!--it will use 'add_employee_form_submit' url after submitting form-->

        {% csrf_token %} <!-- added for privacy reasons/security-->
        <br>
        <input type = "text" name="name" placeholder="Enter employee name">
        <br>
        <select id="position" name="position">
            <option value="" disabled selected>Select Employee Position</option>
            <option value="Doctor/Physician">Doctor/Physician</option>
            <option value="Accountant">Accountant</option>
            <option value="Engineer">Engineer</option>
            <option value="Foreman">Foreman</option>
            <option value="Parts Repair Section">Parts Repair Section</option>
            <option value="Preventive Maintenance Section">Preventive Maintenance Section</option>
            <option value="Overhauling Section">Overhauling Section</option>
            <option value="Electrical Section">Electrical Section</option>
            <option value="Body Building Section">Body Building Section</option>
            <option value="Machine Shop Section">Machine Shop Section</option>
            <option value="Tire Section">Tire Section</option>
            <option value="Quick Service Section">Quick Service Section</option>
            <option value="Human Resource">Human Resource</option>
            <option value="Time Keeper">Time Keeper</option>
            <option value="Inventory">Inventory</option>
            <option value="Driver">Driver</option>
            <option value="Conductor">Conductor</option>
            <option value="Ticket Seller">Ticket Seller</option>
            <option value="Trainee">Trainee</option>

        </select>
        <br>
        <input type = "email" name="email" placeholder="Enter employee email">
        <br>
        <input type = "text" name="address" placeholder="Enter employee address">
        <br><br>
        <input type = "number" name="overtime_hours" placeholder="Enter the number of overtime hours">
        <br>
        <input type = "number" name="days_leave" placeholder="Enter days of leave">
        <br>
        <input type = "number" name="other_deductions" placeholder="Enter Other Deductions if any">
        <br><br>
        <input type="submit" value="Add Employee">
    
    
    </form>
    
    <br><br>
    <b>Homepage -></b>
    <a href= "{% url 'index' %}" button>home</button></a>

</body>
</head>

</html>