<!-- Homepage HTML 
    palagay ng bootstrap or forms dito
-->
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'app/htmlHead/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/htmlHead/index.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="{% static 'app/htmlHead/js/bootstrap.min.js'%}"></script>
    <title>Homepage</title>
</head>
<body>
    <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class='bus-icon' src="{% static 'app/images/bus-icon.png' %}">
                </div>
                <div class="col-md-4"></div>
                <div class = "col-md-4 menu">
                    <a href = "employer/"class = "employerButton">Employer</button></a>
                </div>
            </div>
            <div class="row">
                <div class = "col-md-5">
                    <img class="payroll-thumb" src="{% static 'app/images/bus-image.png'%}">
                </div>
                <div class = "col-md-3"></div>
                <div class="col-md-4">
                    <form action="/search_employee_form_submit/", method="post"> <!--it will use 'search_employee_form_submit' url after submitting form-->
                    {% csrf_token %}<!-- added for privacy reasons/security-->
                    <div class="wrap">
                        <div class = "search">
                            <input class = "searchTerm" type = "text" name="search_id" placeholder="Enter Employee id">
                            <button class="searchButton" type="submit" value="Search">
                                <i class = "fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class = "row">
                <div class="col-md-5 desc">
                    Managing payrolls made easy
                </div>
            </div>
        </div>
   <!-- <h1>Welcome to home page.</h1>

    <br><br><br>
    <b>employee page -></b>
    <a href= "employee/" button>dito ka kung employee ka</button></a> 'employee/' is the URL galing sa urls.py ng app1

    <br><br><br>
    <b>employer page -></b>
    <a href= "employer/" button>dito ka kung ikaw ssob</button></a> -->
    
</body>
</head>

</html>